<!doctype html>
<html>
<head>
    <title>Gold</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="theme-default.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <h1>Gold</h1>

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </main>
</body>
</html>
