<!doctype html>
<html>
<head>
    <title>Gold</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="theme-default.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main>
        <h1>Signup</h1>

        <% if (message.length > 0) { %>
            <div class="error-message"><%= message %></div>
        <% } %>
    
        <!-- SIGNUP FORM -->
        <form action="/signup" method="post">
            <label>Email</label>
            <input type="text" name="email">
            <label>Password</label>
            <input type="password" name="password">
            <button type="submit">Signup</button>
        </form>
    
        <hr>
    
        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </main>    
</body>    
</html>
